dialog {
    background-color: var(--base);
    border: none;
    border-radius: 15px;
    width: 270px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: unset;
}

dialog::backdrop {
    backdrop-filter: blur(5px);
}

dialog:not(#confirm) [data-close] {
    position: absolute;
    top: -30px;
    right: -25px;
    font-size: 35px;
    background: transparent;
}

#confirm {
    & p {
        margin-top: 0;
    }

    & button {
        padding: 5px 10px;
        border-radius: 5px;

        &[data-confirm] {
            background-color: var(--primary-color);
            color: white;
        }

        &[data-close] {
            background-color: rgb(255, 50, 50);
        }
    }
}