@import 'variables.css';
@import 'general.css';
@import 'dialogs.css';

body {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
}

header {
    display: flex;
    justify-content: end;
}

main {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-column-gap: var(--padding);
    background-color: var(--background);
    border-radius: 15px;
    padding: var(--padding);
    margin: 0 auto;

    min-width: 800px;
}

.header-table {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    & > h2 {
        margin: 0;
    }

    & > button {
        background-color: transparent;
        color: var(--primary-color);
        border: none;
    }
}

/* Sections */
#lists {
    display: flex;
    flex-flow: column;
    gap: 15px;
    max-height: 80vh;
    overflow: scroll;
}

.list-item {
    font-size: 18px;
    display: flex;
    border-radius: 15px;
    padding: 10px 15px;
    border: none;
    gap: 10px;
    background-color: #3b3b3b;

    & .color {
        display: inline-block;
        height: 15px;
        width: 15px;
        border: 1px solid white;
        border-radius: 50%;
    }

    & .count {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: var(--background);
        opacity: 0.6;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        margin-left: auto;
    }

    &:hover {
        background-color: #202020;

        & .actions {
            display: inline-block;
        }

        & .count {
            display: none;
        }
    }
}

#todos {
    list-style: none;
    padding: 0;

    & li:not(:last-of-type) {
        border-bottom: 1px solid gray;
    }
}

.todo-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    padding-left: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;

    & circle {
        display: none;
    }

    &[data-complete] {
        color: gray;

        & circle {
            display: block;
        }
    }

    &:hover {
        background-color: #333333;

        & .actions {
            display: inline-block;
        }
    }
}

& .actions {
    display: none;
    margin-left: auto;

    & > button {
        background-color: transparent;
        color: gray;
        border: none;

        &:hover {
            color: white;
        }
    }
}

#logout {
    font-size: 25px;
    padding: 5px 10px;
    background-color: transparent;
    color: var(--primary-color);
}

.drag {
    cursor: grab;
    color: gray;

    svg {
        pointer-events: none;
    }
}
